body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 300px;
    max-width: 2000px;
}
.nav {
    width: 100%;
    height: 100px;
    background-color: aqua;
    position: fixed;
    z-index: 1;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.nav a {
    color:blue;
}

.nav ul {
    width: 30%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.nav li {
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    font-size: 1.3rem;
}

.nav li a:hover {
    color:slateblue;
    font-size: 1.4rem;
    font-weight: bolder;
}

.empty {
    height: 150px;
}

.about {
    background-image: url('./images/mac-orchard-mountain.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px midnightblue dotted;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-weight: bolder;
}

.description {
    background-color: rgb(17, 197, 236);
    border: 2px midnightblue dotted;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

.description h2, p {
    width: 70%;
    margin: 0 auto;
    line-height: 2rem;

}

.list {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.8rem;
}

.gif_container {
    height: 400px;
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
}

.gif_container img {
    height: 100%;
    width: 100%;
    border: midnightblue 5px solid;
    border-radius: 20px;
}

.gif_container h2 {
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: midnightblue 5px solid;
}

.contact {
    border: 2px midnightblue dotted;
    width: 80%;
    /*height: 180px;*/
    margin: 0 auto;
    text-align: center;
    background-image: url(./images/vegBug-1.gif), url('./images/leaf.png'), url(./images/vegBug-1.gif);
    background-repeat: no-repeat;
    background-position: left, center, right;
    background-size: contain, contain, contain;
    background-color: rgb(153, 219, 255);
    margin-top: 100px;
}

.contact h3 {
    border: 2px midnightblue solid;
    background-color: orange;
    width: 150px;
    padding: 15px;
    border-radius: 20px;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
}

.contact ul {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact li {
    list-style: none;
    padding-top: 4px;
    padding-right: 4px;
}

.copyright {
    margin-top: 50px;
    background-color: gainsboro;
    width: 100%;
    padding-top: 10px;
}
.copyright p {
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .gif_container {
        height: 400px;
        width: 35%;
    }
}


@media only screen and (max-width: 1082px) {
    .contact {
        background-image: url(./images/vegBug-1.gif), url(./images/vegBug-1.gif);
        background-repeat: no-repeat;
        background-position: left, right;
        background-size: contain, contain;
        background-color: rgb(153, 219, 255);
    }
}

@media only screen and (max-width: 750px) {
    .contact {
        background-image: url(./images/vegBug-1.gif);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: rgb(153, 219, 255);
    }
    .gif_container {
        height: 400px;
        width: 45%;
    }
}

@media only screen and (max-width: 650px) {
    .about {
        height: 400px;
    }
    .gif_container {
        height: 300px;
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .nav h1 {
        font-size: 1.3rem;
    }
    .nav ul {
        margin-left: -25px;
    }
    .nav li {
        font-size: 0.9rem;
    }
    .list {
        width:80%;
    }
    .description h2, p {
        width: 85%;
    }
    .contact {
        background-image: url(./images/vegBug-1.gif);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: rgb(153, 219, 255);
    }
}

@media only screen and (max-width: 500px) {
    .gif_container {
        height: 300px;
        width: 70%;
    }
}
