body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 300px;
    max-width: 2000px;
}

.plant-box-container {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin:auto;
  }

  .plant-box {
    height: 530px;
    width: 400px;
    background-color: white;
    border: 1px black solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .plant-box img {
    width: 100%;
    height: 450px;
  }

  .plant-box h3 {
    text-align: center;
  }

  .empty-1 {
    height: 100px;
  }

  .heading {
    text-align: center;
    margin-top: 50px;
    heading: 50px;  
  }

  .description_container {
    margin: auto;
    width: 100%;
  }

  .description_container p {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  .paragraph {
    width: 70%;
    margin: auto;
  }

  .pest_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin:auto;
  }

  .pest_images img:hover {
    transform: scale(1.6);
    border-radius: 100px;
  }

  .pest_images img {
    width: 200px;
    height: 200px;
  }
  #page-link a {
    font-size: 1.3rem;
    color: blue;
  }
 
  #page-link:hover {
    font-weight: bolder;
  }

  /*

  .weedImages {
    text-align: center;
  }

  .weedImages img {
    width: 400px;
    height: 500px;
    margin: 10px;
  }

  .weedImages img:hover {
    transform: scale(1.2)
}
*/



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  max-height: 600px;
  position: relative;
  margin: auto;
}

.slideshow-container img {
  height: 600px;
}


/* Hide the images by default */
.mySlides {
  display: none;
  width: 90%;
  height: auto;
  margin-left: 5%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: grey;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.button {
  background-color: midnightblue;
  width: 300px;
  height: 90px;
  padding: 10px 32px;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

.button a {
  text-decoration-line: none;
  color: white;
}

.button:hover {
  border-radius: 25px;
  background-color: blueviolet;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button a::after {
  color: white;
}

.forms {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}
.forms-1, .forms-2, .forms-3 {
  background-color: midnightblue;
  width: 30%;
  height: 10%;
  padding: 15px;
  text-align: center;
  margin: 10px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.forms p {
  font-size: 1.2rem;
  text-align:center;
}

.forms-1 a, .forms-2 a, .forms-3 a {
  text-decoration-line: none;
  color: white;
}

.forms-1:hover, .forms-2:hover, .forms-3:hover {
  border-radius: 25px;
  background-color: rgb(43, 226, 116);
}

.forms-1:active, .forms-2:active, .forms-3:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.forms-1 a::after, .forms-2 a::after, .forms-3 a::after {
  color: white;
}


.contact {
  font-size: 2rem;
  text-align: center;
}



#footer {
  width: 100%;
  height: 170px;
  background-color: aquamarine;
  z-index: 10;
}

.copyright {
  margin-top: 50px;
  background-color: gainsboro;
  width: 100%;
  padding-top: 10px;
}
.copyright p {
  text-align: center;
}

#formData {
  width: 80%;
  margin: 0 auto;
  top: 20px;
  border: 1px black solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 20px;
}

.copyright {
  margin-top: 50px;
  background-color: gainsboro;
  width: 100%;
  padding-top: 10px;
}
.copyright p {
  text-align: center;
}

.gif_container {
  width: 70%;
  margin: auto;
}

.gif_container h2 {
  font-size: 2rem;
  text-align: center;
}

.gif_container img {
  width: 90%;
  margin:0%
}

.orchardWeed_description_text {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

/*insect walking on page*/
.orchardWeed_description {
  margin: auto;
  border: 1px yellow solid;
  color: black;
  font-weight: bolder;
  
  background-color: rgb(153, 219, 255);
  
  
  text-align: center;
  background-image: url('./images/vegBug-1.gif'), url('./images/vegBug-1.gif'), url('./images/vegBug-1.gif');
  background-repeat: no-repeat;
  background-size: 10%, 20%, 10%;
  background-position: left, center, right;
  opacity: 1;
}


@media only screen and (max-width: 1400px) {
  .list1 {
    width: 80%;
  }

  .forms {
    display: inline-block;
  }
  
  .forms p {
    margin:0 auto;
    font-size: 1rem;
    margin-top: 10px;
  }

  
  .forms-1, .forms-2, .forms-3 {
    background-color: midnightblue;
    width: 40%;
    height: 10%;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    transition-duration: 0.4s;
  }

  .description_container p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .pest_images img:hover {
    transform: scale(1.2);
    border-radius: 100px;
  }
}

@media only screen and (max-width: 960px) {
  .pest_images img {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 800px) {
  .slideshow-container img {
    height: 500px;
  }

  .contact {
    font-size: 1.2rem;
    width: 70%;
    margin: 0 auto;
  }

  .description_container p {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }

  #page-link a {
    font-size: 0.8rem;
  }

  .pest_images img {
    width: 100px;
    height: 100px;
  }

 
  
}

@media only screen and (max-width: 600px) {
 

  .plant-box img {
    width: 100%;
    height: 100%;
  }

  .description_container p {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }

  
}

@media only screen and (max-width: 500px) {
  .plant-box {
    width: 100%;
    height: 80%;
  }

}

@media only screen and (max-width: 450px) {
  .slideshow-container img {
    height: 300px;
  }

  .plant-box {
    width: 100%;
    height: 80%;
  }  
  
}

@media only screen and (max-width: 400px) {
  .plant-box {
    width: 99%;
  }

  .plant-box img {
    width: 100%;
    height: 80%;
  }

}

@media only screen and (max-width: 350px) {

  .plant-box {
    width: 99%;
  }  
  
}

@media only screen and (max-width: 300px) {
  
  .plant-box {
    width: 99%;
    height: 70%;
  }
}

@media only screen and (max-width: 250px) {
  .plant-box {
    width: 230px;
    height: 70%;
  }
}
