body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 300px;
    max-width: 2000px;
}
.nav {
    width: 100%;
    height: 100px;
    background-color: aqua;
    position: fixed;
    z-index: 1;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.nav a {
    color:blue;
}

.nav ul {
    width: 30%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.nav li {
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    font-size: 1.3rem;
}

.nav li a:hover {
    color:slateblue;
    font-size: 1.4rem;
    font-weight: bolder;
}

.empty {
    height: 150px;
}
.empty1 {
    height: 70px;
}

.intro {
    margin: 0 auto;
    border: 1px yellow solid;
    color: black;
    font-weight: bolder;
    border-radius: 50px;
    background-color: rgb(153, 219, 255);
    
    width:80%;
    padding: 10px;
    text-align: center;
    background-image: url('./images/vegBug-1.gif'), url('./images/leaf.png'), url('./images/vegBug-1.gif');
    background-repeat: no-repeat;
    background-size: 40%, contain, contain;
    background-position: left, center, right;
    opacity: 1;
}

.intro img {
    width: 110px;
    height: 110px;
    border-radius: 50px;
}

.intro img:hover {
    border: rgb(230, 23, 23) 6px dotted;
}

.excerp {
    width: 60%;
    background-color: rgb(255, 255, 255, 0.7);
    margin: 0 auto;
    padding: 20px;
}

#excerp {
    text-align: center;
}
#excerp-link {
    font-size: 0.7rem;
    text-align: center;
}

.main-body {
    background-image: url('./images/header-img.png');
    background-repeat: repeat;
    background-size: contain;
    
}

.main {
    width: 80%;
    border: 1px black dotted;
    background-color: rgb(255, 255, 255, 0.7);
    /*opacity: 0.7;*/
    margin-left: 10%;
    display: inline-flex;
    padding: 10px;
    margin-bottom: 100px;
    
}

.list {
    width: 45%;
    /*border: 1px black solid;*/
    padding: 10px;
    position: relative;
}


.Gr-1 {
    width: 95%;
    height: 250px;
    /*border: 1px blue double;*/
    margin: 0 auto;
    display: flex;
    padding-top: 10px;
    
}
.Gr-1-empty {
    height: 400px;
}

.name {
    width: 40%;
    border: 1px black solid;
    background-color:lavender;
    display: block;
    text-align: center;
}

.name em {
    font-size: 0.8rem;
    font-weight: 200;
}

.image {
    width: 60%;
    border: 1px black solid;
}
.image img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.popup {
    border-radius: 20px;
    background-color: whitesmoke;
    visibility: visible;
    position: fixed;
    z-index: 50;
}

/* TEST CODE FOR IMAGE OPTION
#hide-col {
    position:absolute;
    margin-left: 10%;
    z-index: 100;
    font-size: 5rem;
    visibility: hidden;
    bottom: -70px;
}
#image1 {
    visibility:hidden;
    z-index: 50;
    width: 100%;
    margin-left: 10%;
    bottom: -70px;
    position:absolute;
    border: 5px blue dotted;
}
#image2 {
    position:absolute;
    margin-left: 30%;
    z-index: 100;
    font-size: 2rem;
    visibility: hidden;
    bottom: -70px;
}*/

.popup img {
    width: 350px;
    height: 380px;
    left: 50;
    z-index: 50;
    margin-left: 3%;
    border-radius: 20px;
}
.popup button {
    margin: 0 auto;
    border-radius: 40px;
    padding: 5px 10px;
    border: outset;
}
.popup button:hover {
    background-color: aqua;
}
.popup button:active {
    background-color: gainsboro;
    border: inset;
}

.popup1 {
    border-radius: 20px;
    background-color: whitesmoke;
    width: 40%;
}

.popup1 img {
    width: 90%;
    height: 110%;
    left: 50;
    z-index: 50;
    margin-left: 3%;
    border-radius: 20px;
    
}
.popup1 button {
    margin: 0 auto;
    border-radius: 40px;
    padding: 5px 10px;
    border: outset;
}
.popup1 button:hover {
    background-color: aqua;
}
.popup1 button:active {
    background-color: gainsboro;
    border: inset;
}


.display {
    width: 45%;
    height: 450px;
    border: 1px red solid;
    position: sticky;
    margin-left: 5%;
    background-color: beige;
    margin-top: 20px;
    overflow-y: scroll;
    top: 220px;
    visibility: hidden;
}
.display::after {
    visibility: hidden;
}

.dis-cont {
    display: block;
}

#pest-description {
    width: 95%;
    /*border: 1px black solid;*/
    background-color: beige;
    margin: 0 auto;
}

#pest-description h1, h3 {
    text-align: center;
}

.pest-image {
    height: 100px;
    width: 90%;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
    resize: both;
}
.pest-im {
    border: 1px black solid;
    width: 25%;
}

.pest-im:hover {
    border: 5px blue outset;
}

.pest-im:active {
    border: 5px yellow inset;
}

.pest-im img {
    height: 100%;
    width: 100%;
}





.info {
    height: 30px;
    border: 2px midnightblue solid;
    border-radius: 10px;
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 20%;
    cursor: pointer;
}

#info:hover {
    background-color:aquamarine;
    color: black;
    font-weight: bolder;

}

#info:active {
    border: inset;
}


footer {
    width: 100%;
    height: 130px;
    background-color: aquamarine;
    z-index: 10;
}

#formData {
    width: 80%;
    margin: 0 auto;
    top: 20px;
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 20px;
}


input[type="radio"] {
    width: 20px;
    height: 20px;
    border-color: blue;
    padding: 10px;
    margin-top: 10px;
}

.cont:hover {
    font-weight: bold;
}

#searchable {
    width: 40%;
    height: 10px;
    padding: 10px;
    margin-top: 10px;
    border: midnightblue 2px dotted;
}
#submit {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    border: black 2px outset;
    padding: 10px;
    margin-top: 10px;
}
#submit:active {
    border: blue 5px inset;
}

/* screen size 1200px */

@media only screen and (max-width: 1200px) {
    .main {
        width: 85%;
        margin-left: 7%;
    }
    .Gr-1 {
        height: 200px; 
        width: 100%; 
    }
    .intro {
        /*height: 150px;*/
    }
}

/* adjusted screen size for gif file */
@media only screen and (max-width: 994px) {
    .intro {
        background-image: url('./images/vegBug-1.gif');
        background-repeat: no-repeat;
        background-size: contain;
        
    }
}

/* screen size 900px */

@media only screen and (max-width: 900px) {
    .main {
        width: 90%;
        margin-left: 5%;
    }
    /* reduce text size of Gr-1 */
    .Gr-1 {
        font-size: 0.9rem;
        height: 170px;
    }

    .info {
        height: 20px;
        margin-top: 10%;
    }

    .intro {
        /*height: 170px;*/
    }
    
    .pest-im {
        /* border: 1px black solid;*/
         width: 30%;
         height: 50%;
    }

    footer {
        height: 150px;
    }
}

@media only screen and (max-width: 700px) {
    .main {
        width: 93%;
        margin-left: 2%;
    }
    /* reduce text size of Gr-1 */
    .Gr-1 {
        font-size: 0.8rem;
        height: 150px;
        width: 110%;
        margin-left: -4%;
    }

    .excerp {
        font-size: 0.8rem;
    }
    
    #excerp-link {
        font-size: 0.5rem;
        text-align: center;
    }
    
    .name {
        width: 50%
    }
    .image {
        width: 50%;
    }

    .info {
        height: 12px;
        margin-top: 5%;
        align-self: center;
        padding: 1px;
    }

    .intro {
        /*height: 170px;*/
        font-size: 0.95rem;
    }
    .display {
        margin-left: 3%;
        width: 50%;
    }

    footer {
        height: 170px;
    }

    .searchable {
        height: 30px;
    }
}

@media only screen and (max-width: 510px) {
    .main {
        width: 95%;
        margin-left: 0%;
    }
    /* reduce text size of Gr-1 */
    .Gr-1 {
        font-size: 0.6rem;
        height: 100px;
        width: 110%;
    }
    .name em {
        font-size: 0.5rem;
    }

    .info {
        height: 10px;
        margin-top: 5%;
        align-self: center;
        padding: 1px;
    }

    .intro {
        /*height: 170px;*/
        font-size: 0.8rem;
    }

    .display {
        font-size: 0.8rem;
        margin-left: 2%;
    }

    .nav {
        font-size: 0.7rem;
    }
    .nav ul {
        margin-left: -70px;
    }
    .nav li {
        font-size: 0.9rem;
    }
   
    .pest-im {
        /* border: 1px black solid;*/
         width: 65px;
         height: 75px;
    }
}

@media only screen and (max-width: 410px) {
   
    /* reduce text size of Gr-1 */
    .Gr-1 {
        height: 110px;
    }
}

@media only screen and (max-width: 370px) {
    .main {
        width: 93%;
    }

    .nav h1 {
        margin-left: -20px;
    }
    .nav li {
        margin-left: -20px;
    }

    .Gr-1 {
        font-size: 0.6rem;
        height: 120px;
        width: 110%;
        margin-left: -8%;
    }

    .info {
        height: 10px;
        margin-top: 5%;
        align-self: center;
        padding: 1px;
    }

    .intro {
       /* height: 170px;*/
        font-size: 0.8rem;
    }

    .popup img {
        width: 250px;
        height: 250px;
        left: 50;
        z-index: 50;
        margin-left: 3%;
        border-radius: 20px;
    }

    .display {
        font-size: 0.7rem;
        margin-left: -1%;
    }

    .nav {
        font-size: 0.6rem;
    }
    .nav ul {
        margin-left: -70px;
    }
    #formData {
        font-size: 0.8rem;
    }
}